<nav class="nav">
    <ul class="nav-content">
        <li class="nav-content__item-logo">
            <a href="/">
                <img class="nav-content__item-icon" src="/img/game-controller.svg">
            </a>
        </li>
        <li class="nav-content__item">
            <a href="/">Shop</a>
        </li>
        <li class="nav-content__item">
            <a href="/admin">Admin</a>
        </li>
    </ul>
</nav>