<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title><%= TitlePage %></title>
</head>
<body>
    <nav class="nav">
        <ul class="nav-content">
            <li class="nav-content__item-logo">
                <a href="/">
                    <img class="nav-content__item-icon" src="/img/game-controller.svg">
                </a>
            </li>
            <li class="nav-content__item">
                <a href="/">Shop</a>
            </li>
            <li class="nav-content__item">
                <a href="/admin">Admin</a>
            </li>
        </ul>
    </nav>
    <main class="pageNotFound">
        <div class="pageNotFound-content">
            <img class="pageNotFound-content__image" src="/img/astronaut.svg">
            <p class="pageNotFound-content__message">Nothing her ! <br> 404 not found</p>
        </div>
    </main>
</body>
</html>