<%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <main class="pageNotFound">
        <div class="pageNotFound-content">
            <img class="pageNotFound-content__image" src="/img/astronaut.svg">
            <p class="pageNotFound-content__message">Nothing her ! <br> 404 not found</p>
        </div>
    </main>
<%- include('includes/end.ejs') %>