<%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <main class="admin">
        <div class="admin-content">
            <p class="admin-content__title">Add New Game</p>
            <form class="admin-form" action="/admin" method="post">
                <label class="admin-form__label" for="game">Name of the game</label>
                <input class="admin-form__input" type="text" name="game" id="game">
                <label class="admin-form__label" for="price">Proce</label>
                <input class="admin-form__input" type="text" name="Price" id="Price">
                <button class="admin-form__button" type="submit">ADD!</button>
            </form>
        </div>
    </main>
<%- include('includes/end.ejs') %>