<%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <main class="shop">
        <div class="no-product">
            <img class="no-product__image" src="/img/ghost.svg">
            <p class="no-product__text">Sorry we dont have game for the moment</p>
        </div>
    </main>
<%- include('includes/end.ejs') %>