.nav-content {
    display: flex;
    align-items: center;
    padding: 1em;

    &__item-logo {
        margin-right: 10em;
    }

    &__item {
        list-style: none;
        margin-right: 2em;
        a {
            text-decoration: none;
            margin-right: 1em;
            color: $text;
        }
    }
    
    &__item-icon {
        width: 40px;
        height: 40px;
    }
    .active {
        color: $action;
    }

}