.shop {
    display: flex;
    justify-content: center;
    margin-top: 2em;

    &__content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 5em;
    }

    &__card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-width: 255px;
        background-color: $el;
        border-radius: 30px;
        color: $text;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    
    &__card-image {
        height: 5em;
        transform: translateY(-20px);
    }

    &__card-title {
        font-size: 2em;
        padding: .5em 0;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &__card-price {
        background-color: $action;
        border-radius: 10px;
        text-align: center;
        padding: .5em 0;
        min-width: 155px;
        font-size: 1.5em;
        transform: translateY(20px);
    }
}

.no-product {
    background-color: $el;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10em;
    border-radius: 30px;
    width: 70%;

    &__image {
        width: 10em;
        height: 10em;
        margin-right: 3em;
    }

    &__text {
        color: $text;
        font-size: 36px;
        text-align: center;
    }
}
