.shop {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.no-product {
    background-color: $el;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10em;
    border-radius: 30px;
    width: 70%;

    &__image {
        width: 10em;
        height: 10em;
        margin-right: 3em;
    }

    &__text {
        color: $text;
        font-size: 36px;
        text-align: center;
    }
}
